@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Cadastro</h1>

<form action="/animais/cadastrar" method="post">
    <label>
        Nome:
        <input type="text" name="nome" />
        <br />
        <button type="submit">Enviar</button>
    </label>
</form>